.header {
  height: 200px;
}

.btn-container {
  background-color: rgb(39, 40, 14);
  gap: 20px;
  border-radius: 12px;
}

.all {
  background-color: rgb(16, 17, 18);
  height: 180px;
}

/* From Uiverse.io by Yaseen549 */
.card {
  display: flex;
  justify-content: center;
  width: 344px;
  height: 640px;
  border-radius: 30px;
  background: rgb(39, 40, 14);
  margin-left: auto;
  position: sticky;
  top: 40px;
}

#sider {
  display: flex;
  background-color: rgb(16, 17, 18);
  width: 40%;
  margin-right: 0px;
}

.content {
  background-color: rgb(16, 17, 18);
  height: 1000px;
  padding: 30px 20px;
}

.btn{
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:active,
.btn:hover {
  outline: 0;
}

.btn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.btn:hover span {
  background: none;
}

.btn:active {
  transform: scale(0.9);
}

/* From Uiverse.io by Codecite */ 
.anchor {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 50px;
  border: 2px solid #ed553b;
  padding: 14px 40px 13px;
  overflow: hidden;
  position: relative;
}

.anchor:hover {
  color: #4e484a;
}

.button-cv a::before {
  position: absolute;
  content: "";
  z-index: 0;
  background-color: #ed553b;
  left: -5px;
  right: -5px;
  bottom: -5px;
  height: 111%;
  transition: all .3s ease;
}

.button-cv a:hover::before {
  height: 11%;
}

.button-cv span {
  position: relative;
  z-index: 2;
  transition: all .3s ease;
}

.foot{
  background-color: rgb(16, 17, 18);
}

.button-cv{
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 10px;
}

.exprince h5{
  font-size: 80px;
}

.exprince p{
  font-size: 60px;
}

/* From Uiverse.io by alexmaracinaru */ 
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  color: white;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
